@page
@model IndexModel
@{
    ViewData["Title"] = "Tejin Tech Tavern";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tejin Tech Tavern</h1>

</div>
<div class="text-left">
    <p>Home</p>
    <p>C# Apps (Hire WorkFlow App, Bugs Tracker App, Personal Finance App)</p>
    <p>Custom C# Tools (Db Filter)</p>
    <p>JavaScript App (Calendar App)</p> 
    <p>NodeJs App (Extract and Load Tool)</p>
    <p>About Me (Resume)</p>    

</div>