@page
@model IndexModel
@{
    ViewData["Title"] = "Tejin Tech Tavern";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tejin Tech Tavern</h1>

</div>
<div class="text-left">
    <p>Home</p>
    <p>C# Apps (Hire WorkFlow, Bugs Tracker, Db Filter)</p>
    <p>Custom C# Tools</p>
    <p>Custom JavaScript Tools</p> 
    <p>About Me(Resume)</p>    

</div>